html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  /*disable html selection and grab-hand on cursor*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  background-image: url('https://cdn.wallpapersafari.com/24/43/rINcAy.jpg');
}

.shell {
  display: flex;
  flex-flow: row wrap;
  height: 480px;
  width: 343px;
  background-color: silver;
  border: solid black 2px;
  border-left: solid black 3px;
  border-top: solid black 3px;
  border-radius: 5%;
}

.display {
  font-family: 'Syne Mono', monospace;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 118px;
  width: 210px;
  margin: 20px 0 0 20px;
  background-color: rgb(150, 150, 1);
  border-top: saddlebrown solid 8px;
  border-left: rgb(167, 110, 56) solid 7px;
  border-right: rgb(46, 40, 0) solid 3px;
  border-bottom: black solid 2px;
  border-radius: 3% 2% 2% 3%;
}

.signature {
  align-self: center;
  font-family: sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 200;
  color: #444;
  margin-top: 7px;
}

.num-display {
  max-width: 200px;
  max-height: 80px;
  word-wrap: break-word;
  align-self: flex-end;
  margin: 60px 5px 0 2px;
  font-size: 28px;
  transform: scaleY(1.5);
}

.num-pad {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  width: 260px;
  height: fit-content;
  margin: 170px 0 20px 20px;
}

.num-pad > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 10%;
}

.equals {
  background-color: orange;
}

.five {
  text-decoration: underline;
}

.operators {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 70px;
  gap: 5px;
  /* justify-content: space-between; */

  margin: 20px 20px 20px 255px;
}

.operators > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 10%;
  color: #fff;
  background-color: #444;
}

.backspace {
  font-size: 28px;
}

.addition,
.clear {
  background-color: slateblue;
}

.addition {
  font-size: 28px;
}

.subtraction {
  font-size: 36px;
}

/* JS classes*/
.bump-display {
  margin: 18px 0 0 20px;
}
